<section class="booster">
  <div class="text">
    <h3 class="h3">Booster list :</h3>
    <button class="buy-boosters">
      <p class="box"><i class="fas fa-box-open white"></i>BUY BOOSTERS</p>
    </button>
  </div>

  <div class="boost-line">
    <div class="circle-boost-white">
      <h4 class="h4">+10/s</h4>
      <p class="click">Click</p>
    </div>
    <div class="circle-boost-white">
      <h4 class="h4">+20/s</h4>
      <p class="click">Click</p>
    </div>
    <div class="circle-boost-red">
      <h4 class="h4">+40/s</h4>
      <p class="click">Click</p>
    </div>
    <div class="circle-boost-blue">
      <h4 class="h4">+50/s</h4>
      <p class="click">Click</p>
    </div>
    <div class="circle-boost-blue">
      <h4 class="h4">+10/s</h4>
      <p class="click">Auto Click</p>
    </div>
    <div class="circle-boost-white">
      <h4 class="h4">+10/s</h4>
      <p class="click">Auto Click</p>
    </div>
    <div class="circle-boost-white">
      <h4 class="h4">+10/s</h4>
      <p class="click">Auto Click</p>
    </div>
  </div>
</section>
